body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

h1	{
	/*min-height: 2rem;*/
  	/*line-height: 2.67;*/
  	font-size: 5.0em;
	margin-left: auto;
    margin-right: auto;
}

#application_div {
	display: none;
}

#visuals_sec {
	display: none;
}

#variables_list	{
	display: none;
}

#item_table 	{
	text-align: center;
	/*color: pink;*/
}

#var_name_input	{
	width: 100%;
}

.container {
/*    position: absolute;*/
    border-radius: 5px;
/*    top: 150px;
    left: 400px;
    right: 400px;
    bottom: 250px;*/
    width:80%;
    /*color: #354458;*/
    background-color:#A3D39C;
    padding-top:5px;
    padding-bottom: 5px;
    z-index: 100;
}